/** Main style sheet for site **/

/** -- Colours -- **/

header {
    background-color: white;
}

#section-main-cta {
    background-color: green;
}

#section-about {
    background-color: purple;
}

#section-benefits{
    background-color: lightcoral;
}

#section-hours-cost {
    background-color: yellow;
}

#section-where-who {
    background-color: brown
}

footer {
    background-color: aqua;
}

/** -- TEMP OVERRIDES -- **/

.container {
    border: 2px solid white;
}
.row {
    border: 2px solid orange;
}

/** -- Buttons -- **/

button {
    background-color: white!important;
}


/** -- Header/Nav -- **/

header {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 20px;
    z-index: 10;
}

.nav-item { /** Extends Bootstrap **/       
    margin-top: 20px;
    background-image: 
}

.nav-item:before {
    height: 50px;
    width: 50px;
    background-color: aqua;
}

.nav-item:hover {
    background-color: blue;    
}

.nav-item.active {
    background-color: blue;
}

/** -- Main CTA -- **/

#section-main-cta {
    height: 80vh;
    min-height: 400px;
    max-height: 800px;
}

.content-main-cta {
    height: 100%;
}

.row80 {
    height: 80%;
}

.row20 {
    height: 20%;
}