/** MAIN STYLE SHEET FOR SITE **/

/** -- Imports -- **/

@import url('https://fonts.googleapis.com/css?family=Kalam:700|Short+Stack');

/** -- Colours -- **/

header {}

#section-main-cta {
    background-color: #05aff2;
    background-image: linear-gradient(#0528f2, #05aff2, #05aff2);    
}

#section-about {
    background-color: #05aff2;
}

#section-benefits{
    background-color: #4e9a06;
}

#section-hours-cost {
    background-color: #9370DB;
}

#section-where-who {
    background-color: #85dc30;
}

footer {
    background-color: #eb9d21;
}

/** -- Typography -- **/

body {
    font-family:  'Short Stack', cursive, sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Kalam', cursive, sans-serif;      
}

.text-headline-name {
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 3em;
    color: #fff;
}

.text-headline-name i {
    font-size: 0.7em; 
}

.text-headline-strapline {
    font-size: 1.5em;
}

#text-above-logo {
    font-size: 25px;
}

@media (min-width: 768px) {
    .text-headline-name {
        font-size: 4em;
    }
    
    .text-headline-name i {
        font-size: 1em; 
    }
    .text-headline-strapline {
        font-size: 2rem;
    }    
}

/** -- Page Wide Styles -- **/

html {
    scroll-behavior: smooth;
}

section {
    padding: 50px 0px;
}

/** -- Buttons -- **/

.btn-success {
    background-color: #4e9a06;
}

/** -- Header/Nav -- **/

header {
    position: fixed;
    max-width: 200px;
    top: 10px;
    left: 10px;
    z-index: 10;
}

#nav-toggler-button {
    display: block;
    width: 25vw;
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.4);
}

#site-nav-links {
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    font-weight: 600;
}

#site-nav-links .active {
    background-color: rgba(7, 140, 3, 0.6);
}

@media (min-width: 992px) {
    header {
        top: 0;
        left: 20px;
        background-color: rgba(255,255,255,0.8);
    }    
    .collapse {
        display: block !important;
    }
    #site-nav-links {
        background-color: transparent;         
    } 
}

/** -- Main CTA Section -- **/

#section-main-cta {
    height: 100vh;
    min-height: 400px;
    max-height: 2500px;
    position: relative;        
}

.content-main-cta {
    height: 80%;
}

#background-graphic {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-image: url("../images/MainCTABackground2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 100%;
}

.row-full-height {
    height: 100%;
}

@media (min-width: 576px) {
    #background-graphic {
        height: 40%;
    }
    .content-main-cta {
        height: 70%;
    }
}

/** -- About -- **/

/** -- The Benefits -- **/

/** -- Opening Hours & Cost -- **/

.graphics-days div {
    margin-top: 40px;
    color: #000080;
    transition: all;
    transition-duration: 0.5s;
}
    
.graphics-days div:hover {
    transform: scale(1.2);
}

.graphics-days i {
    font-size: 50px;
}

.graphics-days p {
    font-size: 14px;
    font-weight: bold;
    transform: translateY(-30px)
}

.graphics-sessions p {
    margin-bottom: 0;
}

.graphics-sessions > div {
    margin-bottom: 2em;
}

.bg-p1 {
    background-color: #4e9a06;
}

.bg-p2 {
    background-color: #05aff2;
}

.bg-p3 {
    background-color: #000080;
}

.table-warning th {
    background-color: #fffa83;
}

/** -- Where & Who -- **/

#gmaps-container {
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #000;
}

.image-badge {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

.link-no-decoration:hover {
    text-decoration: none;
}

/** -- Footer -- **/

footer {
    padding-top: 10px;
}

.icons-social i {
    font-size: 40px;
    color: #1133fa;
    transition: all;
    transition-duration: 0.5s;
}

.icons-social i:hover {
    transform: scale(1.5);
    color: #8a2be2;
}

footer > div > p {
    margin-bottom: 0;
}

/** -- Modals -- **/

.modal-content {
    border: none;
}
.modal-header {
    background-color: #9d4ee7;
}

.form-row {
    margin: 0;
}