/** Main style sheet for site **/

/** -- Colours -- **/

header {
    background-color: rgba(255,255,255,0.4);
}

#section-main-cta {
    background-color: #06fdfc;
}

#section-about {
    background-color: rgb(6,253,252);
}

#section-benefits{
    background-color: rgba(7, 140, 3, 1);
}

#section-hours-cost {
    background-color: rgba(204, 252, 20, 1);
}

#section-where-who {
    background-color: rgba(5, 40, 242, 0.5);
}

footer {
    background-color: rgba(7, 140, 3, 0.5);
}

/** -- Master Styles -- **/

section {
    padding: 50px 0px;
}

.container {
}

/** -- TEMP OVERRIDES -- **/

.container {
    border: 2px solid white;
}
.row {
    border: 2px solid orange;
}

/** -- Buttons -- **/

button {
    background-color: white!important;
}

#nav-toggler-button {
    background-color: blue;
}


/** -- Header/Nav -- **/

header {
    position: fixed;
    width: 25vw;
    max-width: 200px;
    top: 0;
    left: 0;
    margin-left: 20px;
    z-index: 10;
}

.active {
    background-color: rgba(7, 140, 3, 0.6);
}

@media (min-width: 768px) {
    .collapse {
        display: unset !important;
    }
}

/** -- Main CTA -- **/

#section-main-cta {
    height: 100vh;
    min-height: 400px;
    max-height: 1000px;

    background-image: url("../images/MainCTABackground1.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: bottom;

}

.content-main-cta {
    height: 100%;
}

.row80 {
    height: 80%;
}

.row20 {
    height: 20%;
}

/** -- About -- **/



/** -- Main CTA -- **/

/** -- Opening Hours & Cost -- **/

.graphics-days div {
    padding-top: 40px;
}

.graphics-days i {
    font-size: 50px;
}

.text-hours {
    padding-top: 40px;
}

/** -- Main CTA -- **/

/** -- Footer -- **/

footer {
    padding: 10px 0px;
}